.btn-container,.conf-container,h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1 span
{
    border-bottom: 3px solid #000;
}
.confirm
{
    font-size: 20px;
    font-weight: bold;
}
.btn
{
    outline: none;
    background-color: #2B71DB;
    color: #fff;
    font-size: 20px;
    padding: 0.7rem 1rem;
    border: 1px solid #2B71DB;
}
.btn:hover
{
    background: transparent;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}
.transfers
{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.transfer-text,.amt-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#transfer,#amount
{
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
}
.options,.amt-cont
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.acont
{
    display: flex;
    justify-content: center;
    align-items: center;
}
a
{
    font-size: 20px;
    text-decoration: none;
    color: #333333;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a span
{
    font-weight: bold;
    padding-left: 0.4rem;
}
a span:hover
{
    border-bottom: 3px solid #000;
}
.debit
{
    color: red;
    font-weight: bold;
}
.credit
{
    color: green;
    font-weight: bold;
}
.nil
{
    font-size: 16px;
}